*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}
body {
  width: 100%;
  height: 100vh;
  font-family: 'Indie Flower', cursive;
}

.main {
  width: 100%;
  background-color: #000000;
}
nav {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}
nav > h1 {
  color: #fff;
  font-size: 28px;
  font-weight: 100;
}
.logo {
  height: 100px;
  width: auto;
  filter: contrast(130%) invert(90%);
}
nav .menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .menu-list a {
  text-decoration: none;
  color: #fff;
  margin: 20px;
}

nav .menu-list a:nth-last-child(1) {
  border-radius: 50px;
  padding: 7px 18px;
  border: 1px solid #fff;
  position: relative;
  overflow: hidden;
}
nav .menu-list a:nth-last-child(1) h5 {
  font-weight: 100;
  position: relative;
  z-index: 10;
}
nav .menu-list a:nth-last-child(1) .green-hover {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 0, 102);
  position: absolute;
  top: 0;
  left: -100%;
  transition: left 0.3s easy;
}
nav .menu-list a:nth-last-child(1):hover .green-hover {
  left: 0;
}
.top-article > h1 {
  position: relative;
  text-align: center;
  font-size: 78px;
  font-weight: 100;
  text-transform: uppercase;
}
.top-article > h1::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  height: 156px;
  background: url('./assets/img/scarf.png') no-repeat;
  background-size: contain;
}
.main #img1 {
  height: 70vh;
  width: auto;
  object-fit: contain;
  position: absolute;
  right: 0;
  top: 30%;
  transform: translateY(-50%, -50%);
}
.top-article {
  height: 80vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./assets/img/logo_make_11_06_2023_16.jpg') no-repeat center;
  background-size: cover;
}
.top-article::after {
  position: absolute;
  content: '';
  display: block;
  height: 100px;
  width: 100%;
  background: rgb(42, 99, 194);
  background: linear-gradient(180deg, rgba(42, 99, 194, 0) 3%, rgba(0, 0, 0, 1) 100%);
  bottom: 0;
  z-index: 99;
}
.top-article #img2 {
  height: 60vh;
  width: auto;
  object-fit: contain;
  position: absolute;
  left: 5%;
  top: 80%;
  z-index: 10;
  filter: contrast(130%);
  transform: translate(-50%, -50%);
}
.top-article #img3 {
  height: 50vh;
  width: auto;
  object-fit: contain;
  position: absolute;
  filter: contrast(188%);
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.top-article #img4 {
  height: 60vh;
  width: auto;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  z-index: 10;
  filter: contrast(130%);
  z-index: 4;
  transition: rotate 0.5s ease-in-out;
}
.content-article {
  position: relative;
  min-height: 70vh;
  width: 100%;
  padding: 100px 200px;
  background-image: linear-gradient(
    to right bottom,
    #000000,
    #250f14,
    #43141f,
    #631825,
    #831b29,
    #8f1b27,
    #63272b,
    #650e11,
    #84080a,
    #09375f,
    #042044,
    #054b89
  );
}
.content-article::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('./assets/img/manystars.png') no-repeat;
  background-size: cover;
  filter: contrast(160%);
}
.content-desc {
  font-size: 28px;
  color: rgb(255, 255, 255);
  margin-bottom: 24px;
  position: relative;
  z-index: 10;
}
li {
  position: relative;
}
li::before {
  position: absolute;
  left: -100px;
  top: 60%;
  transform: translateY(-50%);
  content: '';
  display: block;
  background: url('./assets/img/onelight.png') no-repeat;
  filter: contrast(300%);
  height: 120px;
  width: 120px;
  background-size: contain;
}
li::marker {
  content: '';
}
